<div class="mb-6">
    <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl sm:tracking-tight lg:text-4xl">
        {{ (title_html if title_html else title) | safe }}
    </h1>
    {% if subtitle %}
        <div class="flex text-gray-500">
            <span class="text-base font-semibold">{{ subtitle }}</span>
        </div>
    {% endif %}
</div>