<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ (title + " - " if title else "") + metadata.title }}</title>
        {% if isProd %}
            <base href="{{ metadata.url }}">
        {% endif %}
        <link rel="icon" href="{{ "/assets/favicon.svg" | url }}" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    </head>

    <body class="bg-gray-50">
        <div class="py-8 lg:py-16 px-6 md:px-16 lg:px-24">
            <div class="md:flex">
                <div class="sm:mr-8 md:mr-12 lg:mr-16">
                    {% include "sidenav.njk" %}
                </div>
                <div class="grow max-w-3xl">
                    <main class="py-4 md:py-6">
                        {% block contentLayout %}{% endblock %}
                    </main>
                    {% include "footer.njk" %}
                </div>
            </div>
        </div>
    </body>

</html>
