{% extends "./base.njk" %}

{% block contentLayout %}
    {% include "header.njk" %}
    <div class="prose max-w-none leading-6 hover:prose-a:no-underline prose-headings:font-semibold prose-li:my-0 prose-p:my-0 prose-img:my-0 md:prose-h2:mt-6 md:prose-h2:mb-4">
        {{ content | safe }}
    </div>
{% endblock %}
