{% extends "./base.njk" %}

{% block contentLayout %}
    <div class="pb-4">
        {% if title_html %}
            <h1 class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl sm:tracking-tight lg:text-4xl">{{ title_html | safe }}</h1>
        {% elif title %}
            <h1 class="mb-2 text-2xl font-medium text-gray-900 sm:text-3xl sm:tracking-tight lg:text-4xl">{{ title }}</h1>
        {% endif %}
        {# <div class="flex text-gray-500">
            <div class="inline-flex items-center">
                <span class="text-base font-semibold">Jenis Portfolio</span>
            </div>
        </div> #}
    </div>
    {% if thumbnail %}
        <div class="mb-4 md:mb-6 pt-4">
            <img src="{{ thumbnail }}" alt="{{ title }}" class="rounded-lg">
        </div>
    {% endif %}
    <div class="prose max-w-none leading-6 hover:prose-a:no-underline prose-headings:font-semibold prose-li:my-0 prose-p:my-0 prose-img:my-0 md:prose-h2:mt-6">
        {{ content | safe }}
    </div>
{% endblock %}
