{% extends "./base.njk" %}

{% block contentLayout %}
    <div class="mb-6">
        <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl sm:tracking-tight lg:text-4xl">
            {{ (title_html if title_html else title) | safe }}
        </h1>
        <div class="text-gray-500">
            <span class="text-base font-semibold">Kategori "{{ title }}", {{ collections.postCategories[category].length }} Blog</span>
        </div>
    </div>
    {% if not collections
        .postCategories[category]
        .length %}
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-200 h-48 w-auto icon icon-tabler icon-tabler-coffee" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 14c.83 .642 2.077 1.017 3.5 1c1.423 .017 2.67 -.358 3.5 -1c.83 -.642 2.077 -1.017 3.5 -1c1.423 -.017 2.67 .358 3.5 1"></path>
                <path d="M8 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"></path>
                <path d="M12 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2"></path>
                <path d="M3 10h14v5a6 6 0 0 1 -6 6h-2a6 6 0 0 1 -6 -6v-5z"></path>
                <path d="M16.746 16.726a3 3 0 1 0 .252 -5.555"></path>
            </svg>
            <p class="text-gray-400 font-semibold">Konten masih kosong ...</p>
        </div>
    {% endif %}
    <div>
        {% for post in collections.postCategories[category] | reverse %}
            {% include "post-item.njk" %}
        {% endfor %}
    </div>
{% endblock %}