{% from "content.njk" import displayContent %}
{% extends "./base.njk" %}

{% block contentLayout %}
    <div class="mb-6">
        <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl sm:tracking-tight lg:text-4xl">
            {{ (title_html if title_html else title) | safe }}
        </h1>
        <div class="flex text-gray-500">
            <div class="inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 icon icon-tabler icon-tabler-calendar-event" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 5m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                    <path d="M16 3l0 4"></path>
                    <path d="M8 3l0 4"></path>
                    <path d="M4 11l16 0"></path>
                    <path d="M8 15h2v2h-2z"></path>
                </svg>
                <span class="text-base font-semibold">{{ page.date | dateFormat }}</span>
            </div>
            {% if categories.length %}
                <div class="inline-flex ml-4 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 icon icon-tabler icon-tabler-tags" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z"></path>
                        <path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116"></path>
                        <path d="M6 9h-.01"></path>
                    </svg>
                    <ul class="inline-flex font-semibold">
                        {% for category in categories %}
                            <li class="flex">
                                <a href="{{ "/blog/kategori/"+(category | slugify) + "/" | url }}" class="hover:underline">{{ category }}</a>
                                {% if not loop.last %}
                                    <span>,&nbsp; </span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    {% if thumbnail %}
        <div class="mb-4 md:mb-6 pt-2">
            <img src="{{ thumbnail }}" alt="{{ title }}" class="rounded-lg">
        </div>
    {% endif %}
    <div class="mb-8">
        {{ displayContent(content) | safe }}
    </div>
    <div class="mb-4">
        <script src="https://giscus.app/client.js"
        data-repo="hayyi2/hayyi2.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxNjEwMjM3Njc="
        data-category="General"
        data-category-id="DIC_kwDOCZkHF84CVApQ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="id"
        crossorigin="anonymous"
        async></script>
    </div>
{% endblock %}