---
title: "Beranda"
title_html: "Halo 👋, saya Hayyi"
subtitle: "Full Stack Web Developer"
permalink: index.html
layout: home.njk
eleventyNavigation:
    title: Beranda
    order: 1
    icon: 'home'
---
<p>Sebagai seorang full stack web developer, saya memiliki pengalaman dalam pengembangan web. Saya memliki keahlian dalam pengembangan front-end dan back-end. Saya memiliki pengalaman dalam menggunakan berbagai bahasa pemrograman, teknologi web dan framework.</p>

<p>
    <span>Ingin tau lebih banyak tentang saya? Buka halaman</span>
    <a href="{{ "/tentang/" | url }}" class="inline-flex items-center">
        <span class="mr-0.5">tentang</span>
        <svg class="inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
            <path d="M10 14l10 -10"></path>
            <path d="M15 4l5 0l0 5"></path>
        </svg>
    </a>
</p>

<p>
    <span>Melalui situs ini, saya ingin menunjukkan kemampuan saya pada halaman</span>
    <span class="inline-flex">
        <a href="{{ "/portofolio/" | url }}" class="inline-flex items-center">
            <span class="mr-0.5">portofolio</span>
            <svg class="inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
                <path d="M10 14l10 -10"></path>
                <path d="M15 4l5 0l0 5"></path>
            </svg>
        </a>
        <span>,</span>
    </span>
    <span>serta apa yang telah dan sedang saya pelajari melalui konten</span>
    <span class="inline-flex">
        <a href="{{ "/blog/" | url }}" class="inline-flex items-center">
            <span class="mr-0.5">blog</span>
            <svg class="inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
                <path d="M10 14l10 -10"></path>
                <path d="M15 4l5 0l0 5"></path>
            </svg>
        </a>
        <span>.</span>
    </span>
</p>
